.whiteKey { 
  background-color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.whiteKey:active {
  background-color: #aaa;
}

.pressed {
  background-color: #aaa !important;
}

.unpressed {
  background-color: #fff !important;
}
